body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%); */
  background-image: url('../public/images/back.jpg');
  background-size: cover;
  background-position: center;
}

.App {
  text-align: center;
  position: relative;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 5px;
  color: #333;
  border: 2px solid rgb(40,40,40);
  border-radius: 15px;
  background-color: 	rgb(246,246,246);
}

.deck {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.card {
  width: 100px;
  height: 100px;
  perspective: 1000px;
  cursor: pointer;
  position: relative;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
}

.card-front {
  background-image: url('../public/images/front.jpg');
  background-size: cover;
  background-position: center;
  border: 2px solid rgb(40,40,40);
}

.card-back {
  transform: rotateY(180deg);
  border: 2px solid rgb(40,40,40);
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}

.info p {
  border: 2px solid rgb(40,40,40);
  border-radius: 15px;
  background-color:rgb(246,246,246);
  padding: 5px 20px;
}

.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.game-over h2 {
  margin: 0 0 10px 0;
}

.game-over button {
  color: #333;
  font-size: 20px;
  border: 2px solid rgb(40,40,40);
  border-radius: 15px;
  background-color:rgb(246,246,246);
  transition: background-color 0.3s ease;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.game-over button:hover {
  background-color: rgb(226, 217, 217);
}

.reset-score {
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 20px;
  cursor: pointer;
  color: #333;
  border: 2px solid rgb(40,40,40);
  border-radius: 15px;
  background-color:rgb(246,246,246);
  transition: background-color 0.3s ease;
}

.reset-score:hover {
  background-color: rgb(226, 217, 217);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}